.services {
  width: 100%;
  position: relative;
  background: $section3;
  padding-top: 5rem;
  @include max-screen(780px)  {
    padding-top: 0;
  }
  @include max-screen(480px)  {
    background: url("../img/general/services_mb.jpg") no-repeat;
    background-size: cover;
  }
  &_wrap {
    max-width: 98rem;
    //max-width: 93%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 9rem;
    @include max-screen(3750px) {
      padding: 0;
    }
  }
  &_title {
    color: $baseColor;
    font-family: 'Bodoni';
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    @include max-screen(400px) {
      font-size: 23px;
    }
  }
  &_describe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 82rem;
    margin: 0 auto;
    @include max-screen(480px) {
      justify-content: center;
      width: 93%;
    }
  }
  &_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 28%;
    height: 12rem;
    margin-bottom: 1rem;
    @include max-screen(1440px) {
      //width: 23rem;
      margin-bottom: 3rem;
    }
    @include max-screen(480px) {
      width: 60%;
      margin-bottom: 0;

    }
  }
  &_text {
    color: $baseColor;
    font-size: 10rem;
    font-weight: 300;
    line-height: 2.1rem;
    padding-bottom: 3rem;
  }
  &_cost {
    color: $baseColor;
    font-size: 1.2rem;
    font-weight: 100;
    text-transform: uppercase;
    @include max-screen(480px) {
      font-size: 1.7rem;
    }
  }
  &_offer {
    font-size: 2rem;
    text-align: center;
    font-weight: 100;
    margin: 0;
    @include max-screen(480px) {
      padding: 0 1rem;
    }
  }
  &_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 5rem;;
    background-color: $buttonColor;
    width: 26rem;
    height: 8rem;
    color: $titleColor;
    font-size: 2rem;
    font-weight: 100;
    @include max-screen(480px) {
      margin-bottom: 5rem;
    }
  }
  &_accent__mob {
    display: none;
    @include max-screen(480px)  {
      width: 42rem;
      height: 72rem;
      position: absolute;
      top: 0%;
      left: 0;
    }
  }
  &_scratch {
    width: 100%;
  }

  &_item__last {
    @include max-screen(1024px)  {
      //display: block;
      //margin: 0 auto;
    }
  }
}
a.services_button {
  &:hover {
    background-color: lighten($buttonColor,20%);

  }


}