.js-callback.callback_none
    a#popup__toggle(href='tel:+79257778335')
        //.circlephone(style='transform-origin: center;')
        .circle-fill(style='transform-origin: center;')
        .img-circle(style='transform-origin: center;')
            .img-circleblock(style='transform-origin: center;')