.adress
    .adress_wrap
        #google-map.google-map
        .adress_main
            p.adress_text Контакты
            .adress_describe
                .adress_item
                    .adress_cost.
                        Новинский бульвар, 18 <br>с1
                                                121069
                    .adress_cost.

                .adress_item
                    .adress_cost.
                        +7 (925) 777 8335
                    .adress_cost.
                .adress_item
                    .adress_cost.
                        ТРЦ «Вегас»
                        Каширское шоссе 24км МКАД 121069
                .adress_item
                    .adress_cost.
                        +7 (985) 286 6047
                .promo_item.promo_station.adress_station__map
                    img(src="./static/img/general/metro.png" alt="station").promo_img
                    p.promo_adress Баррикадная
            .adress_social
                a(href='#').adress_icon
                    img(src="./static/img/general/social_insta.png" alt="nail").section2_nail
                a(href='#').adress_icon
                    img(src="./static/img/general/social_fb.png" alt="nail").section2_nail
                a(href='#').adress_icon
                    img(src="./static/img/general/social_vk.png" alt="nail").section2_nail

    .adress_social.adress_social__footer
        a(href='#').adress_icon
            img(src="./static/img/general/social_insta.png" alt="nail").section2_nail
        a(href='#').adress_icon
            img(src="./static/img/general/social_fb.png" alt="nail").section2_nail
        a(href='#').adress_icon
            img(src="./static/img/general/social_vk.png" alt="nail").section2_nail