.prise
    .prise_wrap
        p.prise_title прайс
        .prise_describe
            .prise_item
                .prise_text.
                    МАНИКЮР С ПОКРЫТИЕМ
                .prise_cost.
                    1000 р
            .prise_item
                .prise_text.
                    МАНИКЮР +
                    ПОКРЫТИЕ ГЕЛЬЛАК
                .prise_cost.
                    1500 р
            .prise_item
                .prise_text.
                    МАНИКЮР CHRISTINA
                    FITZGERALD (ЭКСПРЕСС)
                .prise_cost.
                    2000 р
            .prise_item
                .prise_text.
                    МАНИКЮР С
                    ПОКРЫТИЕМ ЛАК
                     OPI/VINILUX
                .prise_cost.
                    1000\1200 р
            .prise_item
                .prise_text.
                    МАНИКЮР +
                    ПОКРЫТИЕ ГЕЛЬЛАК/
                    LUXIO
                .prise_cost.
                    1500\1700 р
            .prise_item
                .prise_text.
                    НАРАЩИВАНИЕ
                    С ПОКРЫТИЕМ
                    ГЕЛЬЛАК/LUXIO
                .prise_cost.
                    4500\4700 р

