.promo
    .promo_wrap
        .promo_nav
            img(src="./static/img/general/logo.png" alt="logo").logo
            .promo_contact
                .promo_item.promo_station
                    img(src="./static/img/general/metro.png" alt="station").promo_img
                    p.promo_adress Баррикадная
                .promo_item
                    img(src="./static/img/general/phone.png" alt="phone").promo_img
                    a(href="tel:+79257778335").promo_adress +7 (925) 777 83 35
        .promo_main
            .promo_general
                h1.promo_title.
                    <span class="promo_firstletter">b</span>удь<br><span class="promo_firstletter">v</span>сегда<br><span class="promo_firstletter">d</span>евочкой<br>
                img(src="./static/img/general/promo_accent.png" alt="stock").promo_stock
                p.promo_text.
                    При заказе маникюра с покрытием
                    уникальный дизайн совершенно БЕСПЛАТНО*
                a(href="#").promo_button записаться




