.section2
    .section2_wrap
        .section2_item
            img(src="./static/img/general/section2_1.jpg" alt="nail").section2_nail
        .section2_item1
            img(src="./static/img/general/section2_2.png" alt="nail").section2_nail
    .section2_accent
        img(src="./static/img/general/scratch.png" alt="logo").section2_scratch

    include prise.pug
