.section3
    .section3_wrapper
        .section3_wrap
            .section3_row
                .section3_item.section3_item__text
                    p.section3_text
                        <span class="section3_firstletter">b</span>удь
                .section3_item.section3_item__1
                    img(src="./static/img/general/section3_2.jpg" alt="nail").section3_photo
                .section3_item.section3_item__text
                    p.section3_text.section3_firstletter__girl
                        <span class="section3_firstletter">d</span>евочкой
            .section3_row
                .section3_item.section3_item__2
                    img(src="./static/img/general/section3_1.jpg" alt="nail").section3_photo

                .section3_item.section3_item__text
                    p.section3_text.
                        <span class="section3_firstletter">v</span>сегда
                .section3_item.section3_item__2
                    img(src="./static/img/general/section3_3.jpg" alt="nail").section3_photo

    .section3_accent
        img(src="./static/img/general/scratch3.png" alt="scratch").section3_scratch






