.services
    .services_wrap
        p.services_offer.
            При заказе маникюра с покрытием уникальный дизайн совершенно БЕСПЛАТНО*
        a.services_button.
            записаться
        p.services_title.
            дополнительные услуги
        .services_describe
            .services_item
                .services_text.
                    .
                .services_cost.
                    ДЕТСКИЙ МАНИКЮР
            .services_item
                .services_text.
                    .
                .services_cost.
                    МАНИКЮР МУЖСКОЙ
            .services_item
                .services_text.
                    .
                .services_cost.
                    МАНИКЮР СRISTINA
                    FITZGERALD
            .services_item
                .services_text.
                    .
                .services_cost.
                    ПЕДИКЮР С ПОКРЫТИЕМ
                    ЛАК OPI/VINILUX
            .services_item
                .services_text.
                    .
                .services_cost.
                    ПЕДИКЮР С ПОКРЫТИЕМ
                    ГЕЛЬЛАК /LUXIO
            .services_item
                .services_text.
                    .
                .services_cost.
                    ПЕДИКЮР МУЖСКОЙ
            .services_item
                .services_text.
                    .
                .services_cost.
                    ПАРАФИНОВЫЙ УХОД ДЛЯ РУК
            .services_item
                .services_text.
                    .
                .services_cost.
                    ПАРАФИНОВЫЙ УХОД ДЛЯ НОГ
            .services_item.services_item__last
                .services_text.
                    .
                .services_cost.
                    РЕМОНТ НОГТЯ