//slider
.slider
    a.services_button.slider_button__slider.slider_button__header.
        записаться
    .slider_wrapper
        .slider_describe
            h2.slider_h2.
                о нас
            p.slider_text.slider_text_none.
                «Салон, который действительно заслуживает особого внимания. Милые мастера, индивидуальный подход и атмосфера, которая окунает тебя в сладкую жизнь.»
            p.slider_text.slider_text_mod.
                Салон красоты BVD Beauty знает, что ты особенная. Мы предоставляем широкий спектр услуг, наши мастера - профессионалы своего дела, а атмосфера салона подарит ощущение умиротворения
            a.services_button.slider_button__slider.
                записаться
        #slider.slider_slider
            .slider_item
                img(src="./static/img/general/slider/slider-1.jpg" alt="nail").section2_nail
            .slider_item.styling
                img(src='./static/img/general/slider/slider-2.png' alt='work')
            .slider_item
                img(src='./static/img/general/slider/slider-3.png' alt='work')
            .slider_item
                img(src='./static/img/general/slider/slider-4.jpg' alt='work')
            .slider_item
                img(src='./static/img/general/slider/slider-5.jpg' alt='work')
        //button(type="button").prev-arrow.
        //    Previous
    a.services_button.slider_button__slider.slider_button__footer.
        записаться