// Color
$buttonColor: rgb(69, 33, 73);
$letterColor: rgb(221, 164, 231);
$colorAccent: #65336a;
$titleColor: rgb(255, 255, 255);
$baseColor: rgb(0, 0, 0);
$section2: #282828;
$section3: #e1e1e1;
$map: #272727;


// Size
$sizeMain: 2rem;

// Font
$base: 'Lato', sans-serif;
$title: 'Playfair Display', serif;