include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		meta(name="robots" content="noindex, nofollow")

		link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&amp;subset=cyrillic" rel="stylesheet")
		//link(rel="icon" href="./img/favicon.jpg")
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
		link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")


		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

	body(class=pageClass)
		include ../modules/promo
		include ../modules/section2
		include ../modules/section3
		include ../modules/services
		include ../modules/slider
		include ../modules/map
		include ../modules/footer
		include ../modules/call.pug
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
		script(src!="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkZBUGoLbtY_4BJtKsIYC58eSwSZzlc0A&callback=initMap" defer async)
		script(src="static/js/main.js")
		block script
		<![endif]-->
